@import '../../style/variables'
    
.comics
    display: grid
    grid-template-columns: repeat(4, 225px)
    column-gap: 67px
    row-gap: 57px
    &__container
        display: grid
        margin-top: 50px
        grid-template-columns: repeat(4, 225px)
        column-gap: 67px
        row-gap: 57px
        padding: 0
    &__spinner
        margin: 0 auto
        padding-top: 200px
        height: 600px
    &__button
        padding: 50px 0 50px 0
    &__item
        display: grid
        grid-template-rows: 346px auto 25px
        &:hover
            color: $main-color
        &_img
            width: 225px
            height: 346px
            cursor: pointer
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25))
            transition: margin 0.1s ease-out
            &:hover
                margin-top: -5px
            &_active
                box-shadow: 0 1px 19px 3px black  
        &_name
            font-weight: 500
            font-size: 12px
            line-height: 16px
            margin-top: 7px     
        &_price
            font-weight: 700
            font-size: 12px
            line-height: 16px
            color: rgba(0, 0, 0, 0.6)
        &_active
            margin-top: -5px

