@import '../../style/variables'
    
.random
    border-radius: 10px
    margin-top: 50px
    display: grid
    grid-template-columns: auto auto
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25)
    &__item
        width: 550px
        height: 250px
    &__try
        background: #232222
        z-index: 1
        position: relative
        border-radius: 0 10px 10px 0
        &_info
            display: grid
            padding: 40px 35px 35px 40px
            grid-template-rows: 90px 49px 38px
            &_first, &_second
                text-align: center
                color: #fff
                font-weight: 500
                font-size: 22px
                line-height: 28px
                margin: 0
        img
            position: absolute
            width: 150px
            height: 150px
            right: 20px
            top: 95px
    &__hero
        display: grid
        grid-template-columns: 45% 55%
        img   
            border-radius: 10px
            width: 200px
            height: 200px
            object: cover
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25)
        &_block
            padding-top: 25px
            padding-left: 25px
            display: grid
            grid-template-columns: 180px auto
            column-gap: 20px
        &_info
            display: grid
            grid-template-rows: 35px 95px 38px
            row-gap: 10px
            padding-top: 32px
            padding-right: 20px
        &_name
            font-weight: bold
            font-size: 18px
            text-transform: uppercase
            margin: 0
        &_descr
            font-size: 14px
            line-height: 16px
            font-weight: 400
            margin: 0
        &_buttons
            margin-top: 1px
            display: grid
            grid-template-columns: 50% 50%
            a
                color: #fff
    button
        margin: 0 auto
                      
.random__spinner
    display: flex
    align-items: center
            