.random
    margin-top: 30px
    display: grid
    grid-template-columns: auto auto
    &__item
        width: 550px
        height: 250px
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25)
    &__try
        position: relative
        background: #232222
        &_info
            display: grid
            padding: 40px 100px 35px 35px
            grid-template-rows: 90px 44px 38px
            &_first, &_second
                color: #fff
                font-weight: 500
                font-size: 22px
                line-height: 28px
                margin: 0
        img
            position: absolute
            right: -46px
            top: 52px
    &__hero
        display: grid
        grid-template-columns: 45% 55%
        img   
            width: 180px
            height: 180px
            object: cover
        &_block
            padding-top: 35px
            padding-left: 40px
            display: grid
            grid-template-columns: 180px auto
            column-gap: 20px
        &_info
            display: grid
            grid-template-rows: 29px 95px 38px
            row-gap: 10px
            padding-top: 32px
            padding-right: 20px
        &_name
            font-weight: bold
            font-size: 22px
            text-transform: uppercase
            margin: 0
        &_descr
            font-size: 14px
            line-height: 16px
            font-weight: 300
            margin: 0
        &_buttons
            margin-top: 1px
            display: grid
            grid-template-columns: 50% 50%

                    

            